body {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.textbox {
  box-sizing: border-box;
  width: 400px; /* Set your initial width */
  height: 400px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 5px;
  background-color: #f0f0f0;
}

.message-input {
	display: flex;
	flex-direction: column; /* Stack items vertically */
  	justify-content: center;
  	align-items: center;
}

.textbox1 {
}

.textbox2 {
  background-color: #e0e0e0;
}